.header {
    align-items: center;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .user {
            display: flex;
            .user-data{
                align-self: center;
                display: flex;
            }
            img {
                max-width: 3rem;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
    h4 {
        font-size: 30px;
    }
}
